.headeer_content {
    text-align: center;
}

.header_logo {
    color: #8B7969;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
    font-size: 35px;
    color: #8B7969;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table__header {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #ddd;
    background: #8B7969;
    color: #ffffff;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__text {
    color: #8B7969;
}

.form__button {
    text-align: center;
}

.contact-table_data {
    color: #ffffff;
    background: #8B7969;
    text-align: center;
    font-weight: bold;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #82756A;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}

.form__button-correct {
    color: #8B7969;
    font-size: 20px;
}