.headeer_content {
    max-width: 1230px;
    text-align: center;
}

.header_logo {
    color: #8B7969;
    font-size: 24px;
}

.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    color: #8B7969;
    text-align: center;
}